/*стилизация базовых элементов index.html*/
/*эти стили встречаются чаще всего*/
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

/*нет подчеркиваниям для ссылок*/
a {
	text-decoration: none;
}
/*здесь отменяется маркеровка всех списков*/
.site-navigation-list,
.causes-list,
.social-list {
	list-style: none;
}

/*стилизация основной навигации*/
/*СВОЙСТВА ТЕ ЖЕ ЧТО И В БОДИ. СТОИТ ДУБЛИРОВАТЬ?*/
.site-navigation {
	text-decoration: 14px;
	line-height: 26px;
	font-width:700px;
	color:#000000
	background-color:#ffffff;
}

/*цвет ссылок*/
.site-navigation a{
	color:#000000;
}
/*cсостояния для ссылок*/
.site-navigation a:hover {
	color: #a3c7de;
}
.site-navigation a:active {
	color: #b2b2b2;
}

/*стилизация главного заголовка*/
/*ПОВТОРЯТЬ ПАРАМЕРТЫ  line-height, line-height, font-weight,color?*/
.container h1 {
	font-size: 21px;
	text-align: center;
}
/*главное изображение на странице*/
/*ПОЧЕМУ ОНО НЕ ЗАГРУЖАЕТСЯ?*/
.main-image {
  background-color: #6d676b;
  background-image: url("img/bg-photo-index-1200.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/*раздел причины*/
/*что общего во всем разделе*/
.causes-item {
	font-size:14px;
	line-height: 21px;
	font-weight:400;
	color:#000000;
	text-align: center;

	background-color: #eeeeee;
}
.causes-item h3 {
	font-size:21px;
	line-height: 21px;
	font-weight: 700;
}

/*а теперь различия*/
/*стилизация 1-2 причин*/
.causes-item-picture {
	color:#ffffff;

	background-color: #81b3d2;
}
/*стилизация списка подсписка причин*/
.quality-item {
	background-color:#ffffff;
} 

/*раздел бронирование*/
.reservation {
	text-align:center;
}
.reservation h2 {
	font-size:30px;
	line-height: 36px;
}

/*стилизация формы бронирования*/




/*стилизация футера*/
/*то что общее*/
.main-footer {
	color:#000000;
	text-align:center;

	background-color:rgba(254,254,254,0.9);
}
/*для хэштега*/
.hashtag {
	font-size:21px;
	line-height: 26px;
	font-weight: 700;
}

/*стилизация ссылок на соцсети*/
.footer-social a {
    color: #ffffff;
    background-color:#81b3d2;
}
/*состояния соцсетей*/
.footer-social a:hover {
	color:#ffffff;
	background-color:#669ec0;
}
.footer-social a:active {
	color:#82b2cf;
	background-color:#5496bd;
}



