body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  position: relative;
}

a {
  text-decoration: none;
}

.shadow {
  box-shadow: 0 0 30px 10px #dbdbdb;
  width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation-list,
.causes-list,
.social-list,
.breadcrumbs,
.hotels-list {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation-list {
  background-color: #ffffff;
}

.site-navigation-list a {
  color: #000000;
  background-color: #ffffff;
}

.site-navigation-list a:hover {
  color: #81b3d2;
}

.site-navigation-list a:active {
  color: #b2b2b2;
}

.container {
  background-color: #ffffff;
}

.container h1 {
  font-size: 21px;
  text-align: center;
}

.main-image {
  width: 1200px;
  min-height: 353px;
  position: relative;
  background-color: #6d676b;
  background-image: url("../img/bg-photo-index-1200-crop.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-image::after {
  content: "";
  position: absolute;
  top: 451px;
  left: 0;
  width: 1200px;
  height: 59px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.causes {
  font-weight: 400;
  text-align: center;
}

.causes-item {
  line-height: 21px;
  background-color: #eeeeee;
}

.causes-item h3 {
  font-size: 21px;
  font-weight: 700;
}

.causes-item-picture {
  color: #ffffff;
  background-color: #81b3d2;
}

.quality-item {
  background-color: #ffffff;
}

.reservation {
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.as-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.reservation-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form-call {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  cursor: pointer;
}

.form-call:hover {
  background-color: #604e43;
}

.form-call:active {
  color: #75665e;
  background-color: #503e33;
}

.reservation-form input[type="text"],
.reservation-form input[type="number"] {
  background-color: #f2f2f2;
  border: none;
}

.reservation-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.reservation-form input[type="text"]:focus {
  background-color: #ffffff;
  border: none;
  outline: 1px #ebebeb solid;
}

.reservation-form input[type="text"]::placeholder {
  font: inherit;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.reservation-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
}

.reservation-button:hover {
  background-color: #669ec0;
}

.reservation-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.main-footer-hotels {
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.main-footer-index {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-container {
  font-weight: 400;
  color: #000000;
  text-align: center;
  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social a {
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.footer-social a:active {
  color: #82b2cf;
  background-color: #5496bd;
}






/*---------------здесь начинаетя стилизация страницы hotels----------------------*/

.navigation-selected a {
  color: #766357;
}

.search-filters {
  background-image: url("../img/bg-photo-hotels-1200.jpg");
  background-color: #6d676b;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.filters ul {
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters-button {
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
}

.filters-button:hover {
  color: #000000;
  background-color: rgba(255, 255, 255, 1);
}

.sorting {
  font-size: 21px;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs-selected {
  color: #81b3d2;
  border: none;
}

.breadcrumbs a {
  color: #e0e0e0;
  border-bottom: 1px dotted #81b3d2;
}

.breadcrumbs a:hover {
  color: #81b3d2;
}

.breadcrumbs a:active {
  color: #000000;
  border: none;
}

.hotels-list {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  border-top: 1px #e5e5e5 solid;
}

.hotels-list a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-header a:hover {
  color: #81b3d2;
}

.hotel-header a:active {
  color: #cacaca;
}

.hotel-item {
  border-bottom: 1px solid #e5e5e5;
}


.hotels-rating {
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}

.hotel-btn a {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.btn-info {
  background-color: #81b3d2;
}

.btn-info:hover {
  background-color: #669ec0;
}

.btn-info:active {
  color: #82b2cf;
  background-color: #5496bd;
}

.btn-reserv {
  background-color: #766357;
}

.btn-reserv:hover {
  background-color: #604e43;
}

.btn-reserv:active {
  color: #75665e;
  background-color: #503e33;
}

.btn-info,
.btn-reserv {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 110px;
}






/*--------------------------сеточные стили--------------------------------РР--*/

html,
body {
  min-width: 1200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-navigation-logo {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 530px;
  width: 140px;
  height: 72px;
}

.site-navigation-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  padding: 15px 71px;
}

.site-navigation-list li {
  width: 23%;
  cursor: pointer;
}

.site-navigation-list .navigation-left-info {
  margin: 0;
}

.site-navigation-list .navigation-left-photo {
  margin-right: auto;
}

.site-navigation-list .navigation-right-map {
  margin-left: auto;
  text-align: right;
}

.site-navigation-list .navigation-right-hotels {
  text-align: right;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 80px;
  margin-bottom: 60px;
}

.container h1 {
  width: 440px;
  margin: auto;
  margin-bottom: 28px;
}

.causes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pre-causes {
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}

.causes-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.causes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
}

.causes-item-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px;
}

.item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  padding-top: 47px;
  padding-bottom: 60px;
}

.causes-item h3 {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.causes-item p {
  width: 286px;
  margin: 0;
  padding: 0;
}

.item-2 h3 {
  width: 170px;
}

.item-3-4 p {
  width: 264px;
}

.item-5 p {
  width: 259px;
}

.item-5 h3 {
  width: 130px;
}

.causes-item-picture img {
  width: 800px;
}

.causes-item-picture p {
  width: 301px;
  margin: 0;
  padding: 0;
}

.causes-item span {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.quality-item-wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  padding-top: 161px;
  padding-bottom: 82px;
}

.quality-list {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quality-item {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quality-item:first-child::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.quality-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 61px;
  left: 163px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.quality-item:last-child::after {
  content: "";
  position: absolute;
  top: 56px;
  left: 172px;
  right: 170px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.reservation-paragraph p {
  margin: 0px;
  padding: 0px;
}

.reservation-paragraph {
  margin: 0 auto;
  width: 1200px;
  margin-bottom: 46px;
}



.reservation-paragraph .as-header {
  margin-bottom: 25px;
}

.form-call {
  width: 568px;
  padding: 31px 0px;
  margin: 0;
}

.reservation-column {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  width: 568px;
  height: 395px;
  padding: 55px;
  margin: 0px auto;
  background-color: #ffffff;
}

.reservation-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 458px;
}

.input-number-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.input-text input {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  width: 309px;
  margin: 0;
  height: 37px;
  padding: 11px;
}

.btn-calendar {
  background: #f2f2f2;
  border: none;
  border-radius: 0;
  cursor: pointer;
  width: 37px;
  height: 37px;
}

.input-text .btn-calendar-arrival {
  position: absolute;
  cursor: pointer;
  left: 475px;
  top: 55px;
}

.input-text .btn-calendar-departure {
  position: absolute;
  cursor: pointer;
  left: 475px;
  top: 122px;
}

.btn-calendar svg {
  fill: #cacaca;
}

.btn-calendar svg:hover {
  fill: #000000;
}

.btn-calendar svg:active {
  fill: #81b3d2;
}

.input-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 228px;
  margin: 0px;
  margin-bottom: 56px;
}

.input-number-column {
  width: 100%;
}

.input-number input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  padding: 7px;
  width: 42px;
  height: 37px;
  text-align: center;
}

.input-text label,
.input-number label {
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}

.number-children {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.number-children label {
  cursor: pointer;
  min-width: 60px;
}

.reservation-button {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 17px;
}

.input-number button {
  min-width: 37px;
  height: 37px;
  background: #f2f2f2;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.btn {
  position: relative;
  cursor: pointer;
}

.btn::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  top: 18px;
  left: 11px;
  background: #a9a9a9;
}

.btn::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  top: 18px;
  left: 11px;
  background: #a9a9a9;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.btn-minus::after {
  content: none;
}

.btn:hover::after,
.btn:hover::before {
  background-color: #000000;
}

.btn:active::after,
.btn:active::before {
  background-color: #81b3d2;
}

.img-map {
  width: 1200px;
  margin-bottom: 0px;
  height: 593px;
}

.main-footer-index {
  margin: 0 auto;
  width: 1200px;
  margin-top: -119px;
}

.main-footer-hotels {
  margin: 0 auto;
  width: 1200px;
}

.footer-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 35px;
  padding-left: 130px;
  padding-right: 100px;
  padding-bottom: 35px;
}

.hashtag {
  width: 140px;
  margin: 0px;
  margin-right: 255px;
}

.footer-social {
  width: 150px;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  width: 46px;
  height: 48px;
}

.social-btn {
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn path,
.social-btn:hover path {
  fill: #ffffff;
}

.social-btn:active path {
  fill: #82b2cf;
}


.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  width: 196px;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
}

.footer-copyright-icon {
  width: 115px;
  height: 41px;
}

.footer-copyright-icon:hover path {
  fill: #98c1da;
}

.footer-copyright-icon:active path {
  fill: #bdbbbc;
}

.search-filters {
  margin-bottom: 22px;
}

.filters {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 7px;
  padding-right: 73px;
  padding-left: 73px;
}


.filters fieldset {
  margin: 0px;
  padding: 0px;
}

.filter-option {
  position: relative;
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-input-checkbox:focus+label {
  opacity: 0.5;
}

.filter-input-checkbox:active+label {
  opacity: 1;
}

.filter-input-checkbox:hover+label {
  opacity: 1;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 0;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled+label::before {
  background-image: url("../img/checkbox-off-disable.svg");
  cursor: default;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 0;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled+label::before {
  background-image: url("../img/checkbox-on-disable.svg");
  cursor: default;
}

.filter-infr {
  width: 140px;
  margin-right: 115px;
}

.type-lodging {
  width: 140px;
}

.filter-range {
  width: 316px;
  margin-left: auto;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls .min-price,
.price-controls .max-price {
  width: 82px;
  padding-left: 64px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  min-height: 30px;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0;
  margin-left: 84px;
  padding: 6px 35px;
  width: 137px;
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  background-color: #ffffff;
  color: #000000;
}

.sorting {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 73px;
  margin-bottom: 22px;
}

.sorting-paragraph,
.sorting-header {
  margin: 0px;
  padding: 0px;
}

.sorting-paragraph {
  margin-right: 47px;
}

.sorting h2 {
  margin-right: 40px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.breadcrumbs li {
  margin-right: 33px;
  cursor: pointer;
}

.icon-dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.icon-up-dir {
  width: 11px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: 1093px;
  cursor: pointer;
}

.icon-up-dir path:hover {
  fill: #231f20;
}

.icon-up-dir path:active {
  fill: #81b3d2;
}

.icon-down-dir {
  width: 11px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: 1116px;
}

.icon-down-dir path:hover {
  fill: #231f20;
}

.icon-down-dir path:active {
  fill: #81b3d2;
}

.hotels {
  width: 1200px;
  margin: 0 auto;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  padding: 0px;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  padding: 0 73px;
  padding-top: 25px;
  padding-bottom: 30px;
}

.hotel-about {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: auto;
}

.hotel-header,
.hotels-rating,
.hotel-cost,
.hotel-btn,
.hotel-img {
  margin: 0px;
  padding: 0px;
}

.hotel-img {
  min-width: 134px;
  height: 90px;
  margin-right: 30px;
  padding-top: 5px;
}

.hotel-header {
  margin-bottom: 8px;
}

.hotel-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.hotel-cost span {
  width: 95px;
  margin-right: 20px;
}

.hotel-btn a {
  padding: 3px 16px;
  margin-right: 5px;
  cursor: pointer;
}

.hotel-rating-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: auto;
}

.hotels-rating {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  min-width: 110px;
  padding: 3px 13px;
}

.star li {
  margin-left: 6px;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
}
