body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.site-navigation-list,
.causes-list,
.social-list,
.breadcrumbs,
.hotels-list {
  list-style: none;
}

.site-navigation-list a {
  color: #000000;
}

.site-navigation-list a:hover {
  color: #81b3d2;
}

.site-navigation-list a:active {
  color: #b2b2b2;
}

.container h1 {
  font-size: 21px;
  text-align: center;
}

.main-image {
  width: 1200px;
  min-height: 510px;

  background-color: #6d676b;
  background-image: url("../img/bg-photo-index-1200.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.causes {
  font-weight: 400;
  text-align: center;
}

.causes-item {
  line-height: 21px;

  background-color: #eeeeee;
}

.causes-item h3 {
  font-size: 21px;
  font-weight: 700;
}

.causes-item-picture {
  color: #ffffff;

  background-color: #81b3d2;
}

.quality-item {
  background-color: #ffffff;
}

.reservation {
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.as-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.reservation-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form-call {
  font-size: 21px;
  color: #ffffff;

  background-color: #766357;
}

.form-call:hover {
  background-color: #604e43;
}

.form-call:active {
  color: #75665e;
  background-color: #503e33;
}

.reservation-form input[type="text"],
.reservation-form input[type="number"] {
  background-color: #f2f2f2;
  border: none;
}

.reservation-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.reservation-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 1px #e5e5e5;
}

.reservation-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  border: none;
  background-color: #81b3d2;
}

.reservation-button:hover {
  background-color: #669ec0;
}

.reservation-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.main-footer {
  font-weight: 400;
  color: #000000;
  text-align: center;

  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social a {
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.footer-social a:active {
  color: #82b2cf;
  background-color: #5496bd;
}














/*---------------здесь начинаетя стилизация страницы hotels----------------------*/

li .navigation-selected {
  color: #766357;
}

.search-filters {
  background-image: url("../img/bg-photo-hotels-1200.jpg");
  background-color: #6d676b;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filters ul {
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  list-style: none;
}

.filters-button {
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
}

.filters-button:hover {
  color: #000000;

  background-color: rgba(255, 255, 255, 1);
}

.sorting {
  font-size: 21px;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs-selected {
  color: #81b3d2;

  border: none;
}

.breadcrumbs a {
  color: #e0e0e0;
  border-bottom: 1px dotted #81b3d2;
}

.breadcrumbs a:hover {
  color: #81b3d2;
}

.breadcrumbs a:active {
  color: #000000;
  border: none;
}

.hotels-list {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  border-top: 1px #e5e5e5 solid;
}

.hotels-list a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-header a:hover {
  color: #81b3d2;
}

.hotel-header a:active {
  color: #cacaca;
}

.hotel-item {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-rating {
  color: #666666;
  text-align: center;

  background-color: #f2f2f2;
}

.hotel-btn a {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.btn-info {
  background-color: #81b3d2;
}

.btn-info:hover {
  background-color: #669ec0;
}

.btn-info:active {
  color: #82b2cf;
  background-color: #5496bd;
}

.btn-reserv {
  background-color: #766357;
}

.btn-reserv:hover {
  background-color: #604e43;
}

.btn-reserv:active {
  color: #75665e;
  background-color: #503e33;
}














/*--------------------------сеточные стили--------------------------------РР--*/

html,
body {
  min-width: 1200;
  min-height: 2762;

  box-sizing: border-box;
}

.main-header {
  margin: 0 auto;
  margin-bottom: 0;
}

.site-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation-wrapper {
  width: 100%;
  margin-bottom: 0px;

  background-color: #ffffff;
}

.site-navigation-logo {
  width: : 140px;
  height: 72px;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-image {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 90px;
  margin-bottom: 60px;
}

.container h1 {
  width: 440px;
  margin: auto;
  margin-bottom: 30px;
}

.causes {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}

.pre-causes {
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}

.causes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 53px;
}

.causes-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
}

.causes-item-picture {
  display: flex;
  flex-direction: row;
  width: 1200px;
}

.item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.causes-item-picture img {
  width: 800px;
}


.quality-list {
  margin: 0px;
  padding: 0px;

  display: flex;
}

.quality-item {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-paragraph {
  width: 435px;
  margin-bottom: 50px;
}

.reservation-paragraph p {
  margin: 0px;
  padding: 0px;
}

.reservation-paragraph .as-header {
  margin-bottom: 30px;
}

.form-call {
  width: 568px;
  padding: 35px 0px;
  margin: 0;
}

.reservation-column {
  width: 568px;
  height: 395px;

  background-color: #ffffff;
  /*временно*/
  box-shadow: inset 0 0 0 2px #000000;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.reservation-form input[type="text"] {
  width: 346px;
  padding: 14px;
}

.reservation-form input[type="text"],
.reservation-form input[type="number"] {
  padding: 14px;
}

.reservation-form input[type="number"] {
  width: 114px;
}

.reservation-form button {
  padding-top: 17px;
  padding-bottom: 22px;
}

.img-map {
  width: 1200px;
  margin-bottom: 0px;
}

.main-footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;

  margin: 0 auto;
  width: 1200px;
}

.hashtag {
  width: 240px;
  margin: 0px;
  margin-right: 88px;
}

.social-list {
  width: 400px;
  margin: 0px;
  padding: 0px;
  margin-right: 88px;
}

.footer-copyright {
  width: 240px;
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.search-filters {
  margin-bottom: 30px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
}

.sorting {
  display: flex;
  justify-content: flex-start;
  width: 1056px;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 30px;
}

.sorting-paragraph,
.sorting-header {
  margin: 0px;
  padding: 0px;
}

.breadcrumbs {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.hotels {
	width: 1056px;
	margin: 0 auto;
	padding: 0px;
}
.hotels-list {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0px;
}
.hotel-item {
	display: flex;
	justify-content: space-between;
	width: 1056px;
	margin-bottom: 30px;
}
.hotel-item:last-child {
	margin-bottom: 0px;
}
.hotel-img {
	margin: 0px;
	padding: 0px;
	margin-right: 30px;
}
.hotel-about {
	display: flex;
	flex-direction: column;
	width: 258px;
	margin-right: 520px;
}
.hotel-header,
.hotel-cost,
.hotel-btn {
	margin: 0px;
	padding: 0px;

}
